<!-- View crear medios sonoros -->
<ng-include src="'example/views/example.client.view.html'" />
</ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="MediosController" data-ng-init="findOne()">
			<label class="tituloVista">EDITAR MEDIO SONORO (FORMATO)</label>

			<form class="form-principal" data-ng-submit="update()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>
				<!-- Nombre del medio sonoro -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','nombreMedio');" data-toggle="modal"
						data-target="#ayudaNombreMedio"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaNombreMedio" tabindex="-1" role="dialog"
						aria-labelledby="ayudaNombreMedioLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<!-- TODO:Difundir campoLargo -->
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>NOMBRE DEL MEDIO SONORO*</label>
				</div>


				<div>
					<input type="text" class="form-control" ng-model="medio.nombre">
				</div>

				<!-- Nombres alternativos (Alias) -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','nombresAlternativos');" data-toggle="modal"
						data-target="#ayudaNombresAlternativos"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaNombresAlternativos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaNombresAlternativosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseNombresA"
						ng-click="cargaAlias(medio.alias)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">NOMBRES ALTERNATIVOS (ALIAS)</label>
				</div>

				<div class="collapse" id="collapseNombresA">
					<input type="text" class="form-control" ng-model="alias">



					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="aliasAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idAlias track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="aliasRemove(n);"
							style="color:red">
						</h2>
						<em>
							{{nombrarSi("", n.nombre)}}
						</em>
					</div>
				</div>
				<!-- Instrumenos-Medios -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','instrumentos');" data-toggle="modal"
						data-target="#ayudaInstrumentos"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaInstrumentos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaInstrumentosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>

								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseInstrumentosM"
						ng-click="cargaInstrumentos(medio.instrumentos)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">INSTRUMENTOS (MEDIOS)</label>
				</div>
				<div class="collapse" id="collapseInstrumentosM">

					<label class="campo"></label>
					<select id="instrumentoId" ng-model="instrumento" class="form-control"
						ng-mouseup="updateInstrumentos();">
						<option ng-repeat="instrumento in instrumentos track by $index" value="{{instrumento.id}}">
							{{instrumento.nombre}}
						</option>
						<option value="">-----</option>
					</select>
					<label class="seccion">cantidad</label>
					<input type="text" id="cant" class="form-control" ng-model="cantidad"
						ng-blur="esEnteroPositivo(cantidad,'cant')" placeholder="">
					<label class="seccion">Rol dentro del medio</label>
					<select id="rolId" ng-model="rol" class="form-control">
						<option ng-repeat="rol in roles track by $index" value="{{rol}}">
							{{rol}}
						</option>
						<option value="">-----</option>
					</select>
					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="instrumentoAdd()">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="abrirVentana('/#!/instrumentos/create')">
							Crear</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idInstrumentos track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n"
							ng-click="instrumentoRemove(instrumentoAux(n.instrumento),n.cantidad,n.rol)"
							style="color:red">
						</h2>
						<em>
							{{nombrarSi("Instrumento", instrumentoAux(n.instrumento))}}
							{{nombrarSi("Cantidad", n.cantidad)}}
							{{nombrarSi("Rol", n.rol)}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="instrumentoEdit(n.instrumento,n.cantidad,n.rol);">
						</h2>
					</div>
				</div>
				<!-- Fin instrumentos -->

				<!-- Proyectos asociados -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','proyectosAsociados');" data-toggle="modal"
						data-target="#ayudaProyectosAsociados"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaProyectosAsociados" tabindex="-1" role="dialog"
						aria-labelledby="ayudaProyectosAsociadosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseProyectosA"
						ng-click="cargaProyectos(medio.proyectosAsociados)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">PROYECTOS ASOCIADOS</label>
				</div>

				<div class="collapse" id="collapseProyectosA">

					<label class="campo"></label>
					<select class="form-control" ng-model="proyecto" ng-mouseup="updateProyectos();">
						<option ng-repeat="proyecto in proyectos track by $index" value="{{proyecto.id}}">
							{{proyecto.nombre}}
						</option>
						<option value="">-----</option>
					</select>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="proyectoAdd();">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="abrirVentana('/#!/proyectos/create')">
							Crear</h2>

					</div>

					<div ng-model="todoerase" ng-repeat="p in idProyectos track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f" ng-click="proyectoRemove(p.proyecto)"
							style="color:red">
						</h2>
						<em>
							{{proyectoAux(p.proyecto)}}
						</em>
					</div>
				</div>
				<!-- Anotaciones cartográfico-temporales -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','anotacionesCT');" data-toggle="modal"
						data-target="#ayudaanotacionesCT"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaanotacionesCT" tabindex="-1" role="dialog"
						aria-labelledby="ayudaanotacionesCTLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseAnotacionesCT"
						ng-click="cargaAnotaciones(medio.anotacionCartograficoTemporal)" role="button"
						aria-expanded="false" aria-controls="collapseExample"></button>
					<label class="campo">ANOTACIONES CARTOGRÁFICO TEMPORALES</label>
				</div>

				<div class="collapse" id="collapseAnotacionesCT">
					<div>

						<hr><label class="campo">Lugar</label></hr>
						<select id="lugarId" ng-model="lugar" class="form-control">
							<option ng-repeat="lugar in lugares track by $index" value="{{lugar}}">
								{{lugar}}
							</option>
							<option value="">-----</option>
						</select>
						<labelclass="campo">Evento</label>
							<input id="eventoId" type="text" class="form-control" placeholder=""
								ng-model="evento"></input>
							<label class="campo">Amplitud o cobertura</label>
							<select id="coberturaId" ng-model="coberturaAmplitud" class="form-control">
								<option ng-repeat="cobertura in coberturas track by $index" value="{{cobertura}}">
									{{cobertura}}
								</option>
								<option value="">-----</option>
							</select>

							<label class="campo">Fecha de inicio</label>
							<input type="text" class="form-control" id="fInicio" ng-model="fechaDeInicio"
								ng-blur="validarFecha(fechaDeInicio,'fInicio')">

							<label class="campo">Fecha de finalización</label>
							<input type="text" class="form-control" ng-model="fechaDeFin" id="fFin"
								ng-blur="validarFecha(fechaDeFin,'fFin')">
							<label class="campo" for="descripcion">Evidencia</label>
							<input id="evidenciaId" class="form-control" placeholder="" ng-model="evidencia">

							<h2 class="glyphicon glyphicon-plus" ng-click="anotacionCartograficoTemporalAdd()">Agregar
							</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="c in idAnotacionesCartograficoTemporales track by $index"
						class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f"
							ng-click="anotacionCartograficoTemporalRemove(c.lugar)" style="color:red">
						</h2>
						<em>
							{{nombrarSi("Lugar", c.lugar)}};
							{{nombrarSi("Cobertura", c.coberturaAmplitud)}};
							{{nombrarSi("Evento", c.evento)}};
							{{nombrarSi("Fecha de inicio", formatDate(c.fechaInicio, c.precisionInicio))}};
							{{nombrarSi("Fecha de finalización", formatDate(c.fechaFin,c.precisionFin))}};
							{{nombrarSi("Evidencia", c.evidencia)}};
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="c"
							ng-click="anotacionCartograficoTemporalEditForEdit(c.lugar,c.coberturaAmplitud,c.evento,c.fechaInicio,c.fechaFin,c.evidencia);">
						</h2>
					</div>
				</div>
				<!-- Fin Anotaciones cartográficas -->
				<!-- Descriptores libres -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','descriptorLibre');" data-toggle="modal"
						data-target="#ayudadescriptorLibre"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudadescriptorLibre" tabindex="-1" role="dialog"
						aria-labelledby="ayudadescriptorLibreLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseDescriptoresL"
						ng-click="cargaDescriptores(medio.descriptorLibre)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">DESCRIPTORES LIBRES</label>
				</div>
				<div class="collapse" id="collapseDescriptoresL">
					<hr><label class="campo">Etiqueta</label></hr>
					<select id="descEtiquetaId" ng-model="dEtiqueta" class="form-control">
						<option ng-repeat="d in dEtiquetas track by $index" value="{{d}}">
							{{d}}
						</option>
						<option value="">-----</option>
						<tt>tipoSelect={{d}}</tt>
					</select>

					<div>
						<label class="campo">Contenido</label>
						<input id="descContenidoId" type="text" class="form-control" ng-model="dContenido"
							placeholder="">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="dDescriptorAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idDescriptores track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n"
							ng-click="dDescriptorRemove(n.etiqueta,n.contenido);" style="color:red">
						</h2>
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("Contenido", n.contenido)}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="descriptorEdit(n.etiqueta,n.contenido);">
						</h2>
					</div>
				</div>
				<!-- Fin descriptores libres -->


				<!-- Enlaces y archivos -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('medio','EnlacesYArchivos');" data-toggle="modal"
						data-target="#ayudaEnlacesYArchivos"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaEnlacesYArchivos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaEnlacesYArchivosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseEyA"
						ng-click="cargaEnlaces(medio.vinculoRelacionado)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">ENLACES Y ARCHIVOS</label>
				</div>
				<div class="collapse" id="collapseEyA">
					<div>
						<label class="campo">Nombre (descripción)</label>
						<input type="text" id="nombreEnlace" class="form-control" ng-model="eEtiqueta">
					</div>
					<div>
						<label class="campo">URL</label>
						<input type="text" class="form-control" ng-model="eUrl" id="urlEnlace"
							ng-blur="validarUrloRuta(eUrl,'urlEnlace')">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="enlaceAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idEnlaces track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" style="color:red" ng-model="n"
							ng-click="enlaceRemove(n.etiqueta,n.url);"></h2>
						<!-- Separar para que no se mezcle con el borrado -->
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("URL", n.url)}}
						</em>

						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="enlaceEdit(n.etiqueta,n.url);">
						</h2>
					</div>
				</div>
				<!-- Vínculos y archivos -->
				<div>
					<input type="submit" class="btn btn-primary btn-lg2" value="Actualizar">
					<div data-ng-show="error">
						<strong class="error" data-ng-bind="error"></strong>
					</div>
				</div>
		</section>


	</div>
	</form>
</div>