<!-- View listar medios-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section class="bodyList" data-ng-controller="MediosController" class="bodyList" data-ng-init="find()">
	<label class="tituloVista">MEDIOS SONOROS</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
								ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>
					</tr>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('nombre')">NOMBRE</button>
							<span class="sortorder" ng-show="propertyName === 'nombre'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('alias')">ALIAS</button>
							<span class="sortorder" ng-show="propertyName === 'alias'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('instrumentos')">INSTRUMENTOS</button>
							<span class="sortorder" ng-show="propertyName === 'instrumentos'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('proyectosAsociados')">PROYECTOS</button>
							<span class="sortorder" ng-show="propertyName === 'proyectosAsociados'"
								ng-class="{reverse: reverse}"></span>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="medio in medios | orderBy:propertyName:reverse|filter:search">

						<!-- medios es el modelo-->
						<td>
							<a href="/#!/medios/{{medio._id}}"><span class="glyphicon glyphicon-sunglasses"></a>

						</td>
						<td data-ng-bind="medio.nombre"></td>
						<td data-ng-bind="verAlias(medio.alias)"></td>
						<td data-ng-bind="verInstrumento(medio.instrumentos)"></td>
						<td data-ng-bind="verProyecto(medio.proyectosAsociados)"></td>
						<td data-ng-show="authentication.user._id == medio.creador._id">
							<a href="/#!/medios/{{medio._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>

						</td>
					</tr>

				</tbody>
			</table>
		</div>


		</div>
	</ul>

	<div data-ng-hide="!medios || medios.length">
		<a href="/#!/medios/create"></a>
</section>