<!-- View obra-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="MateriasController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Materia</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="materia.nombre | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==materia.creador._id">
					<a href="/#!/materias/{{materia._id}}/edit"><span class="glyphicon glyphicon-pencil" </span></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove" </span></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">

					<tbody>
						<tr>
							<td>Descripción</td>
							<td data-ng-bind="materia.descripcion"></td>
						</tr>

						<tr>
							<td>Nombres alternativos (Alias)</td>
							<td data-ng-bind="verAlias(materia.alias)"></td>
						</tr>

						<tr>
							<td>Materias relacionadas</td>
							<td data-ng-bind="verMaterias(materia.materiasRelacionadas)"></td>
						</tr>

						<tr>
							<td>Materias padres</td>
							<td data-ng-bind="verMaterias(materia.padres)"></td>
						</tr>

						<tr>
							<td>Materias hijos</td>
							<td data-ng-bind="verMaterias(materia.hijos)"></td>
						</tr>


						<tr>
							<td>Descriptores libres</td>
							<td data-ng-bind="verDescriptor(materia.descriptorLibre)"></td>
						</tr>

						<tr>
							<td>Enlaces y archivos</td>
							<td id="enlaces" data-ng-bind="verVinculo(materia.vinculoRelacionado)"></td>
						</tr>

					</tbody>
				</table>
			</div>

			<div class="creador">
				<em>Creado en</em>
				<em data-ng-bind="materia.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="materia.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>