<!-- View obra-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="InstrumentosController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Instrumento</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="instrumento.nombre | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==instrumento.creador._id">
					<a href="/#!/instrumentos/{{instrumento._id}}/edit"><span
							class="glyphicon glyphicon-pencil"></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">
					<tbody>


						<tr>
							<td class="campo">ALIAS</td>
							<td data-ng-bind="verAlias(instrumento.alias)"></td>
						</tr>

						<tr>
							<td class="campo">CLASIFICACIÓN HORNBOSTEL-SACHS</td>
							<td data-ng-bind="instrumento.clasificacion"></td>
						</tr>

						<tr>
							<td class="campo">PROYECTO ASOCIADO</td>
							<td data-ng-bind="verProyecto(instrumento.proyectosAsociados)"></td>
						</tr>

						<tr>
							<td class="campo">ANOTACIÓN CARTOGRÁFICO-TEMPORAL</td>
							<td data-ng-bind="verAnotacion(instrumento.anotacionCartograficoTemporal)"></td>
						</tr>

						<tr>
							<td class="campo">DESCRIPTOR LIBRE</td>
							<td data-ng-bind="verDescriptor(instrumento.descriptorLibre)"></td>
						</tr>
						<tr>
							<td class="campo">VÍNCULO RELACIONADO</td>
							<td id="enlaces" data-ng-bind="verVinculo(instrumento.vinculoRelacionado)"></td>
						</tr>






					</tbody>

				</table>

			</div>

			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="instrumento.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="instrumento.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>