<!-- View listar recursos-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section class="bodyList" data-ng-controller="RecursosController" data-ng-init="find()">
	<label class="tituloVista">RECURSOS</label>
	<!-- <pre>Sort by = {{propertyName}}; reverse = {{reverse}}</pre> -->
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>
					</tr>
				</thead>
			</table>

			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('titulo')">TÍTULO</button>
							<span class="sortorder" ng-show="propertyName === 'titulo'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('tiposDeRecurso')">TIPO DE RECURSO</button>
							<span class="sortorder" ng-show="propertyName === 'tiposDeRecurso'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('materia')">MATERIA</button>
							<span class="sortorder" ng-show="propertyName === 'materia'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('mencionDeSerie')">SERIE</button>
							<span class="sortorder" ng-show="propertyName === 'mencionDeSerie'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('idiomas')">IDIOMAS</button>
							<span class="sortorder" ng-show="propertyName === 'idiomas'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('descripcionTecnica')">DESCRIPCIÓN TÉCNICA</button>
							<span class="sortorder" ng-show="propertyName === 'descripcionTecnica'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('faceta')">FACETA</button>
							<span class="sortorder" ng-show="propertyName === 'faceta'"
								ng-class="{reverse: reverse}"></span>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="recurso in recursos | orderBy:propertyName:reverse |filter:search">
						<td>
							<a href="/#!/recursos/{{recurso._id}}"><span class="glyphicon glyphicon-sunglasses"></a>
						</td>
						<td data-ng-bind="recurso.titulo">
						</td>
						<td data-ng-bind="verTipos(recurso.tiposDeRecurso)"></td>
						<td data-ng-bind="verMaterias(recurso.materia)"></td>
						<td data-ng-bind="recurso.mencionDeSerie"></td>
						<td data-ng-bind="verIdiomas(recurso.idiomas)"></td>
						<td data-ng-bind="verDTecnica(recurso.descripcionTecnica)"></td>
						<td data-ng-bind="recurso.faceta"></td>
						<td data-ng-show="authentication.user._id == recurso.creador._id">
							<a href="/#!/recursos/{{recurso._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>
		</div>
	</ul>

	<div data-ng-hide="!recursos || recursos.length">
		<a href="/#!/recursos/create"></a>
</section>