<!-- View listar coleccions-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section class="bodyList" data-ng-controller="ColeccionesController" data-ng-init="find()" class="bodyList">
	<label class="tituloVista">COLECCIONES DOCUMENTALES</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
								ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>

					</tr>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('nombre')">NOMBRE</button>
							<span class="sortorder" ng-show="propertyName === 'nombre'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('tipo')">TIPO</button>
							<span class="sortorder" ng-show="propertyName === 'tipo'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('propiedadComodato')">PROPIEDAD-COMODATO</button>
							<span class="sortorder" ng-show="propertyName === 'propiedadComodato'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('fechaDeCreacion')">CREACIÓN</button>
							<span class="sortorder" ng-show="propertyName === 'fechaDeCreacion'"
								ng-class="{reverse: reverse}"></span>
						</th>



					</tr>
				</thead>
				<tbody>
					<tr data-ng-repeat="coleccion in colecciones | orderBy:propertyName:reverse|filter:search">

						<!-- coleccions es el modelo-->

						<td>
							<a href="/#!/colecciones/{{coleccion._id}}"><span class="glyphicon glyphicon-sunglasses"
									</span></a>
						</td>
						<td data-ng-bind="coleccion.nombre"></td>
						<td data-ng-bind="coleccion.tipo"></td>
						<td data-ng-bind="coleccion.propiedadComodato"></td>
						<td data-ng-bind="formatDate(coleccion.fechaDeCreacion,coleccion.precision)"></td>
						<td data-ng-show="authentication.user._id == coleccion.creador._id">
							<a href="/#!/colecciones/{{coleccion._id}}/edit"><span
									class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		</div>
	</ul>

	<div data-ng-hide="!colecciones || coleccions.length">
		<a href="/#!/colecciones/create"></a>
</section>