<!-- View crear géneros no musicales -->
<ng-include src="'example/views/example.client.view.html'" />
</ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="GenerosNoMusicalesController" data-ng-init="findOne()">
			<label class="tituloVista">EDITAR GÉNERO-FORMA NO MUSICAL</label>
			<form class="form-principal" data-ng-submit="update()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>
				<!-- Nombre-->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','nombreGenero');" data-toggle="modal"
						data-target="#ayudanombreGenero"></button>
					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudanombreGenero" tabindex="-1" role="dialog"
						aria-labelledby="ayudanombreGeneroLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>NOMBRE DEL GÉNERO O LA FORMA NO MUSICAL*</label>
				</div>


				<div>
					<input type="text" class="form-control" ng-model="generoNoMusical.nombre">
				</div>

				<!-- Descripción -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','descripcion');" data-toggle="modal"
						data-target="#ayudaDescripcion"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaDescripcion" tabindex="-1" role="dialog"
						aria-labelledby="ayudaDescripcionLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>DESCRIPCIÓN</label>
				</div>
				<textarea class="form-control-big" wrap="soft" ng-model="generoNoMusical.descripcion"></textarea>

				<!-- Fin descripción -->
				<!-- Alias -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','nombresAlternativos');" data-toggle="modal"
						data-target="#ayudaNombresAlternativos"></button>
					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaNombresAlternativos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaNombresAlternativosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseAL"
						ng-click="cargaAlias(generoNoMusical.alias)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">NOMBRES ALTERNATIVOS (ALIAS)</label>
				</div>

				<div class="collapse" id="collapseAL">
					<div class="campo">
						<input type="text" class="form-control" ng-model="alias">
					</div>
					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="aliasAdd();">Agregar</h2>
					</div>
					<div ng-model="todoerase" ng-repeat="n in idAlias track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="aliasRemove(n);"
							style="color:red">
						</h2>
						<em>
							{{n.nombre}}
						</em>
					</div>
				</div>

				<!-- Fin ALias -->


				<!-- Género relacionado -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','generosRelacionados');" data-toggle="modal"
						data-target="#ayudaGenerosRelacionados"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaGenerosRelacionados" tabindex="-1" role="dialog"
						aria-labelledby="ayudaGenerosRelacionadosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseGR"
						ng-click="cargaGenerosRel(generoNoMusical.generosRelacionados)" role="button"
						aria-expanded="false" aria-controls="collapseExample"></button>
					<label class="campo">GÉNEROS RELACIONADOS</label>
				</div>
				<div class="collapse" id="collapseGR">
					<div ng-mouseover="updateGenerosNoMusicales()">
						<select ng-model="generoRelacionado" class="form-control">
							<option value="">-----</option>
							<option ng-repeat="genero in generosNoMusicales track by $index" value="{{genero._id}}">
								{{genero.nombre}}
							</option>
						</select>
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="generoRelacionadoAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idGenerosRelacionados track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="generoRelacionadoRemove(n.id)"
							style="color:red">
						</h2>
						<em>
							{{generoAux(n.id)}}
						</em>
					</div>
				</div>

				<!-- Fin género relacionado -->

				<!-- Padre -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','padres');" data-toggle="modal"
						data-target="#ayudaPadres"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaPadres" tabindex="-1" role="dialog"
						aria-labelledby="ayudaPadresLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseGP"
						ng-click="cargaPadres(generoNoMusical.padres)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">GÉNEROS PADRE</label>
				</div>
				<div class="collapse" id="collapseGP">

					<div ng-mouseover="updateGenerosNoMusicales()">
						<select ng-model="padre" class="form-control">
							<option value="">-----</option>
							<option ng-repeat="genero in generosNoMusicales track by $index" value="{{genero._id}}">
								{{genero.nombre}}
							</option>

						</select>
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="padresAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idPadres track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="padresRemove(n.id)"
							style="color:red">
						</h2>
						<em>
							{{generoAux(n.id)}}
						</em>
					</div>
				</div>

				<!-- Fin padres -->

				<!-- Hijos -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','hijos');" data-toggle="modal"
						data-target="#ayudaHijos"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaHijos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaHijosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseGH"
						ng-click="cargaHijos(generoNoMusical.hijos)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">GÉNEROS HIJO</label>
				</div>
				<div class="collapse" id="collapseGH">

					<div ng-mouseover="updateGenerosNoMusicales()">
						<select ng-model="hijo" class="form-control">
							<option value="">-----</option>
							<option ng-repeat="genero in generosNoMusicales track by $index" value="{{genero._id}}">
								{{genero.nombre}}
							</option>

						</select>
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="hijosAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idHijos track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="hijosRemove(n.id)"
							style="color:red">
						</h2>
						{{generoAux(n.id)}}
					</div>

				</div>

				<!-- Fin hijos -->

				<!-- Idioma -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','idiomas');" data-toggle="modal"
						data-target="#ayudaIdiomas"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaIdiomas" tabindex="-1" role="dialog"
						aria-labelledby="ayudaIdiomasLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseI"
						ng-click="cargaIdiomas(generoNoMusical.idioma)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">IDIOMAS ASOCIADOS AL GÉNERO</label>
				</div>

				<div class="collapse" id="collapseI">
					<div>

						<select class="form-control" ng-model="idioma">
							<option ng-repeat="idioma in idiomas track by $index" value="{{idioma._id}}">
								{{idioma.idioma}}
							</option>
						</select>
					</div>
					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="idiomaAdd();">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="abrirVentana('/#!/idiomas/create')">
							Crear</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idIdiomas track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n" ng-click="idiomaRemove(n.id);"
							style="color:red">
						</h2>
						<em>
							{{idiomasAux(n.id)}}
						</em>
					</div>
				</div>

				<!-- Anotaciones cartográfico-temporales -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','anotacionesCT');" data-toggle="modal"
						data-target="#ayudaAnotacionesCT"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaAnotacionesCT" tabindex="-1" role="dialog"
						aria-labelledby="ayudaAnotacionesCTLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseAnotacionesCT"
						ng-click="cargaAnotaciones(generoNoMusical.anotacionCartograficoTemporal)" role="button"
						aria-expanded="false" aria-controls="collapseExample"></button>
					<label class="campo">ANOTACIONES CARTOGRÁFICO TEMPORALES</label>
				</div>
				<div>
					<div class="collapse" id="collapseAnotacionesCT">
						<hr><label class="campo">Lugar</label></hr>
						<select id="lugarId" ng-model="lugar" class="form-control">
							<option ng-repeat="lugar in lugares track by $index" value="{{lugar}}">
								{{lugar}}
							</option>
							<option value="">-----</option>
						</select>
						<labelclass="campo">Evento</label>
							<input id="eventoId" type="text" class="form-control" placeholder=""
								ng-model="evento"></input>
							<label class="campo">Amplitud o cobertura</label>
							<select id="coberturaId" ng-model="coberturaAmplitud" class="form-control">
								<option ng-repeat="cobertura in coberturas track by $index" value="{{cobertura}}">
									{{cobertura}}
								</option>
								<option value="">-----</option>
							</select>

							<label class="campo">Fecha de inicio</label>
							<input class="form-control" id="fInicio" type="text" ng-model="fechaDeInicio"
								ng-blur="validarFecha(fechaDeInicio,'fInicio')">

							<label class="campo">Fecha de finalización</label>
							<input class="form-control" ng-model="fechaDeFin" id="fFin"
								ng-blur="validarFecha(fechaDeFin,'fFin')">
							<label id="evidenciaId" class="campo" for="descripcion">Evidencia</label>
							<input class="form-control" placeholder="" ng-model="evidencia">
							<h2 class="glyphicon glyphicon-plus" ng-click="anotacionCartograficoTemporalAdd()">Agregar
							</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="c in idAnotacionesCartograficoTemporales track by $index"
						class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="f"
							ng-click="anotacionCartograficoTemporalRemove(c.lugar)" style="color:red">
						</h2>
						<em>
							{{nombrarSi("Lugar", c.lugar)}};
							{{nombrarSi("Cobertura", c.coberturaAmplitud)}};
							{{nombrarSi("Evento", c.evento)}};
							{{nombrarSi("Inicio", formatDate(c.fechaInicio, c.precisionInicio))}};
							{{nombrarSi("Finalización", formatDate(c.fechaFin,c.precisionFin))}};
							{{nombrarSi("Evidencia", c.evidencia)}};
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="c"
							ng-click="anotacionCartograficoTemporalEditForEdit(c.lugar,c.coberturaAmplitud,c.evento,c.fechaInicio,c.fechaFin,c.evidencia);">
						</h2>
					</div>
				</div>
				<!-- Fin Anotaciones cartográficas -->
				<!-- Descriptores libres -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','descriptoresLibres');" data-toggle="modal"
						data-target="#ayudaDescriptoresLibres"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaDescriptoresLibres" tabindex="-1" role="dialog"
						aria-labelledby="ayudaDescriptoresLibresLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseDL"
						ng-click="cargaDescriptores(generoNoMusical.descriptorLibre)" role="button"
						aria-expanded="false" aria-controls="collapseExample"></button>
					<label class="campo">DESCRIPTORES LIBRES</label>
				</div>

				<div class="collapse" id="collapseDL">

					<hr><label class="campo">Etiqueta</label></hr>
					<select id="descEtiquetaId" ng-model="dEtiqueta" class="form-control">
						<option ng-repeat="d in dEtiquetas track by $index" value="{{d}}">
							{{d}}
						</option>
						<option value="">-----</option>
						<tt>tipoSelect={{d}}</tt>
					</select>

					<div>
						<label class="campo">Contenido</label>
						<input id="descContenidoId" type="text" class="form-control" ng-model="dContenido"
							placeholder="">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="dDescriptorAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idDescriptores track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n"
							ng-click="dDescriptorRemove(n.etiqueta,n.contenido);" style="color:red">
						</h2>
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("Contenido", n.contenido)}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="descriptorEdit(n.etiqueta,n.contenido);">
						</h2>
					</div>
				</div>
				<!-- Fin descriptores libres -->
				<!-- Vínculos y archivos -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('genero no Musical','enlacesYArchivos');" data-toggle="modal"
						data-target="#ayudaEnlacesYArchivos"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaEnlacesYArchivos" tabindex="-1" role="dialog"
						aria-labelledby="ayudaEnlacesYArchivosLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseEyA"
						ng-click="cargaEnlaces(generoNoMusical.vinculoRelacionado)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">ENLACES Y ARCHIVOS</label>
				</div>
				<div class="collapse" id="collapseEyA">


					<div>
						<label class="campo">Nombre (descripción)</label>
						<input type="text" class="form-control" id="nombreEnlace" ng-model="eEtiqueta">
					</div>

					<div>
						<label class="campo">URL</label>
						<input type="text" class="form-control" ng-model="eUrl" id="urlEnlace"
							ng-blur="validarUrloRuta(eUrl,'urlEnlace')">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="enlaceAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idEnlaces track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" style="color:red" ng-model="n"
							ng-click="enlaceRemove(n.etiqueta,n.url);">
						</h2>
						<!-- Separar para que no se mezcle con el borrado -->
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("URL", n.url)}}
						</em>

						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="enlaceEdit(n.etiqueta,n.url);">
						</h2>
					</div>
				</div>
				<!-- Vínculos y archivos -->


				<div>
					<input type="submit" class="btn btn-primary btn-lg2" value="Actualizar">
					<div data-ng-show="error">
						<!-- <strong class="error" data-ng-bind="error"></strong> -->
					</div>
				</div>
			</form>
		</section>
	</div>

</div>