<!-- View genero-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="GenerosNoMusicalesController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Género o forma no musical</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="generoNoMusical.nombre | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==generoNoMusical.creador._id">
					<a href="/#!/generosnomusicales/{{generoNoMusical._id}}/edit"><span
							class="glyphicon glyphicon-pencil" </span></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove" </span></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">
					<tbody>
						<tr>
							<td>Descripción</td>
							<td data-ng-bind="generoNoMusical.descripcion"></td>
						</tr>

						<tr>
							<td>Alias</td>
							<td ng-bind="verAlias(generoNoMusical.alias)"></td>
						</tr>


						<tr>
							<td>Géneros relacionados</td>
							<td ng-bind="verGeneros(generoNoMusical.generosRelacionados)"></td>
						</tr>

						<tr>
							<td>Padres</td>
							<td ng-bind="verGeneros(generoNoMusical.padres)"></td>
						</tr>

						<tr>
							<td>Hijos</td>
							<td ng-bind="verGeneros(generoNoMusical.hijos)"></td>
						</tr>


						<tr>
							<td>Idioma asociado al género</td>
							<td data-ng-bind="verIdiomas(generoNoMusical.idioma)"></td>
						</tr>

						<tr>
							<td>Anotación cartográfico-temporal</td>
							<td data-ng-bind="verAnotacion(generoNoMusical.anotacionCartograficoTemporal)"></td>
						</tr>


						<tr>
							<td>Descriptor libre</td>
							<td data-ng-bind="verDescriptor(generoNoMusical.descriptorLibre)"></td>
						</tr>

						<tr>
							<td>Vïnculo relacionado</td>
							<td id="enlaces" data-ng-bind="verVinculo(generoNoMusical.vinculoRelacionado)"></td>
						</tr>
					</tbody>

				</table>



			</div>

			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="generoNoMusical.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="generoNoMusical.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>