<!-- View obra-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="ObrasController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Obra</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->

				<div class="tituloVistaView" data-ng-bind="obra.titulo | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==obra.creador._id">
					<a href="/#!/obras/{{obra._id}}/edit"><span class="glyphicon glyphicon-pencil"></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">
					<tbody>
						<!-- TODO: ng-show="obra.denominacionRegional" -->
						<tr>
							<td class="campo">DENOMINACIONES REGIONALES</td>
							<td d id="den" data-ng-bind="verDenominaciones(obra.denominacionRegional)"></td>
						</tr>

						<tr>
							<td class="campo">ACTORES RELACIONADOS</td>
							<td data-ng-bind="verActores(obra.actores)"></td>
						</tr>

						<tr>
							<td class="campo">DESCRIPCIÓN</td>
							<td data-ng-bind="obra.descripcion"></td>
						</tr>

						<tr>
							<td class="campo">TIPO</td>
							<td data-ng-bind="obra.tipo"></td>
						</tr>

						<tr>
							<td class="campo">CONTENEDORES (OBRAS)</td>
							<td data-ng-bind="verContenedores(obra.contenedores)"></td>
						</tr>

						<tr>
							<td class="campo">ASIENTOS LIGADOS</td>
							<td data-ng-bind="verAsientoLigado(obra.asientoLigado)"></td>
						</tr>

						<tr>
							<td class="campo">GÉNEROS O FORMAS MUSICALES</td>
							<td data-ng-bind="verGeneros(obra.generosFormas)"></td>
						</tr>

						<tr>
							<td class="campo">GÉNEROS O FORMAS NO MUSICALES</td>
							<td data-ng-bind="verGenerosNoMusicales(obra.GenerosFormasNoMusicales)"></td>
						</tr>

						<tr>
							<td class="campo">MATERIAS</td>
							<td data-ng-bind="verMaterias(obra.materias)"></td>
						</tr>

						<tr>
							<td class="campo">MEDIOS SONOROS</td>
							<td data-ng-bind="verMedios(obra.mediosSonoros)"></td>
						</tr>

						<tr>
							<td class="campo">SISTEMAS SONOROS</td>
							<td data-ng-bind="verSistemas(obra.sistemasSonoros)"></td>
						</tr>

						<tr>
							<td class="campo">IDIOMAS ASOCIADOS</td>
							<td data-ng-bind="verIdiomas(obra.idiomas)"></td>
						</tr>

						<tr>
							<td class="campo">PROYECTOS</td>
							<td data-ng-bind="verProyecto(obra.proyectos)"></td>
						</tr>
						<tr>
							<td class="campo">ANOTACIONES CARTOGRÁFICO TEMPORALES</td>
							<td data-ng-bind="verAnotacion(obra.anotacionCartograficoTemporal)"></td>
						</tr>

						<tr>
							<td class="campo">DESCRIPTORES</td>
							<td data-ng-bind="verDescriptor(obra.descriptores)"></td>
						</tr>



						<tr>
							<td class="campo">VÍNCULOS RELACIONADOS</td>
							<td id="enlaces" data-ng-bind="verVinculo(obra.vinculosRelacionados)"></td>
						</tr>

					</tbody>

				</table>



			</div>

			<div class="creador">

				<em>Creada en </em>
				<em data-ng-bind="obra.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="obra.creador.fullName"></em>

			</div>
		</div>
	</div>
</section>