<!-- View listar generos-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="GenerosController" class="bodyList" data-ng-init="find()">
	<label class="tituloVista">GÉNEROS O FORMAS MUSICALES</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
								ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>
					</tr>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('nombre')">NOMBRE</button>
							<span class="sortorder" ng-show="propertyName === 'nombre'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('alias')">ALIAS</button>
							<span class="sortorder" ng-show="propertyName === 'alias'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('GeneroRelacionado')">GÉNEROS RELACIONADOS</button>
							<span class="sortorder" ng-show="propertyName === 'GeneroRelacionado'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('padres')">PADRES</button>
							<span class="sortorder" ng-show="propertyName === 'padres'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('hijos')">HIJOS</button>
							<span class="sortorder" ng-show="propertyName === 'hijos'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('idioma')">IDIOMA</button>
							<span class="sortorder" ng-show="propertyName === 'idioma'"
								ng-class="{reverse: reverse}"></span>
						</th>

					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="genero in generos | orderBy:propertyName:reverse|filter:search">

						<!-- generos es el modelo-->
						<td>
							<a href="/#!/generos/{{genero._id}}"><span class="glyphicon glyphicon-sunglasses"></a>

						</td>
						<td data-ng-bind="genero.nombre"></td>
						<td data-ng-bind="verAlias(genero.alias)"></td>
						<td data-ng-bind="verGeneros(genero.GeneroRelacionado)"></td>
						<td data-ng-bind="verGeneros(genero.padres)"></td>
						<td data-ng-bind="verGeneros(genero.hijos)"></td>
						<td data-ng-bind="verIdiomas(genero.idioma)"></td>
						<td data-ng-show="authentication.user._id == genero.creador._id">
							<a href="/#!/generos/{{genero._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>
		</div>
	</ul>

	<div data-ng-hide="!generos || generos.length">
		<a href="/#!/generos/create"></a>
</section>