<!-- View genero-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="GenerosController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Género o forma musical</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="genero.nombre | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==genero.creador._id">
					<a href="/#!/generos/{{genero._id}}/edit"><span class="glyphicon glyphicon-pencil" </span></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove" </span></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">
					<tbody>
						<tr>
							<td>Nombres alternativos (alias)</td>
							<td data-ng-bind="verAlias(genero.alias)"></td>
						</tr>

						<tr>
							<td>Descripción</td>
							<td data-ng-bind="genero.descripcion"></td>
						</tr>



						<tr>
							<td>Géneros relacionados</td>
							<td data-ng-bind="verGeneros(genero.GeneroRelacionado
					)"></td>
						</tr>

						<tr>
							<td>Géneros padre</td>
							<td data-ng-bind="verGeneros(genero.padres)"></td>
						</tr>

						<tr>
							<td>Géneros hijo</td>
							<td data-ng-bind="verGeneros(genero.hijos)"></td>
						</tr>

						<tr>
							<td>Medios sonoros asociados</td>
							<td data-ng-bind="verMedios(genero.mediosSonoros
					)"></td>
						</tr>


						<tr>
							<td>Sistemas sonoros asociados</td>
							<td data-ng-bind="verSistemas(genero.sistemasSonoros
					)"></td>
						</tr>

						<tr>
							<td>Idiomas asociados al género</td>
							<td data-ng-bind="verIdiomas(genero.idioma)"></td>
						</tr>

						<tr>
							<td>Proyectos asociados</td>
							<td data-ng-bind="verProyecto(genero.proyectosAsociados)"></td>
						</tr>

						<tr>
							<td>Anotaciones cartográfico-temporales</td>
							<td data-ng-bind="verAnotacion(genero.anotacionCartograficoTemporal)"></td>
						</tr>

						<tr>
							<td>Descriptores libres</td>
							<td data-ng-bind="verDescriptor(genero.descriptorLibre)"></td>
						</tr>

						<tr>
							<td>Enlaces y archivos</td>
							<td id="enlaces" data-ng-bind="verVinculo(genero.vinculoRelacionado)"></td>
						</tr>




					</tbody>

				</table>
			</div>
			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="genero.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="genero.creador.fullName"></em>
			</div>
		</div>
</section>