<!-- View crear obras -->
<ng-include src="'example/views/example.client.view.html'" />
</ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="ProyectosController" data-ng-init="findOne()">
			<label class="tituloVista">EDITAR PROYECTO</label>

			<form class="form-principal" data-ng-submit="update()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>
				<!-- Nombre del proyecto -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','nombreProyecto');" data-toggle="modal"
						data-target="#ayudaNombre"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaNombre" tabindex="-1" role="dialog"
						aria-labelledby="ayudaNombreLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label class="campo">NOMBRE DEL PROYECTO</label>
				</div>


				<div>
					<input type="text" class="form-control" ng-model="proyecto.nombre" id="titulo" placeholder=""
						required>
				</div>

				<!-- Fin nombre del proyecto -->
				<!-- Estados -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','estadoProyecto');" data-toggle="modal"
						data-target="#ayudaEstado"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaEstado" tabindex="-1" role="dialog"
						aria-labelledby="ayudaEstadoLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>

					<label class="campo">ESTADO DEL PROYECTO</label>
				</div>
				<div>

					<select class="form-control" ng-model="proyecto.estado">
						<option value="">-----</option>
						<option ng-repeat="estado in estadosProyecto track by $index" value="{{estado}}">
							{{estado}}
						</option>
					</select>
				</div>
				<!-- Fin Estados -->

				<!-- Actores -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','actoresProyecto');" data-toggle="modal"
						data-target="#ayudaActores"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaActores" tabindex="-1" role="dialog"
						aria-labelledby="ayudaActoresLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseActores"
						ng-click="cargaActores(proyecto.investigadores)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">ACTORES</label>
				</div>
				<div class="collapse" id="collapseActores">
					<div ng-model="todoInput">
						<label class="seccion">NOMBRE/ROL</label>
						<select id="nombreActorId" class="form-control" ng-mouseup="updateActores();" ng-model="actor">
							<option value="">-----</option>
							<option ng-repeat="actor in actores track by $index" value="{{actor.id}}">
								{{actor.fullName}}
							</option>
						</select>

						<select id="actorRolId" ng-model="rol" class="form-control">
							<option value="">-----</option>
							<option ng-repeat="rol in roles track by $index" value="{{rol}}">
								{{rol}}
							</option>
						</select>
						<h2><label class="campo">Activo desde</label></h2>
						<input type="text" id="activoDesdeId" class="form-control" ng-model="fechaInicioActivo"
							ng-blur="validarFecha(fechaInicioActivo,'activoDesdeId')">
						<h2><label class="campo">Activo hasta</label></h2>
						<input type="text" id="activoHastaId" class="form-control" ng-model="fechaFinActivo"
							ng-blur="validarFecha(fechaFinActivo,'activoHastaId')">

						<h2 class="glyphicon glyphicon-plus" ng-click="actorAdd();">Agregar</h2>
						<h2 class="glyphicon glyphicon-modal-window" ng-click="abrirVentana('/#!/actores/create')">Crear
						</h2>
					</div>
					<div ng-model="todoerase" ng-repeat="x in idActores track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="x" ng-click="actorRemove(x.id)"
							style="color:red">
						</h2>
						<em>
							{{nombrarSi("Actor", actorAux(x.id))}};
							{{nombrarSi("Rol", x.rol)}}
							{{nombrarSi("Activo", formatDate(x.activoDesde,x.precisionActivoDesde))}}-
							{{nombrarSi("", formatDate(x.activoHasta,x.precisionActivoHasta))}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue"
							ng-click="actorEditForEdit(x.id,x.rol,x.activoDesde,x.activoHasta);">
						</h2>
					</div>
				</div>
				<!-- Fin Actores -->

				<!-- Fechas asociadas -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','fechasProyecto');" data-toggle="modal"
						data-target="#ayudaFechasProy"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaFechasProy" tabindex="-1" role="dialog"
						aria-labelledby="ayudaFechasProyLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseFechas"
						ng-click="cargaFechas(proyecto.fechasAsociadas)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">FECHAS ASOCIADAS AL PROYECTO</label>
				</div>
				<div class="collapse" id="collapseFechas">
					<div>

						<h2><label class="campo">FECHA</label></h2>

						<input type="text" class="form-control" ng-model="fecha" id="fechaA"
							ng-blur="validarFecha(fecha,'fechaA')">

						<h1><label class="campo">EVENTO</label></h1>
						<select id="eventoId" ng-model="evento" class="form-control">
							<option value="">-----</option>
							<option ng-repeat="evento in eventos track by $index" value="{{evento}}">
								{{evento}}
							</option>
						</select>
						<h2 class="glyphicon glyphicon-plus" ng-click="fechaAdd();">Agregar</h2>
					</div>
					<div ng-model="todoerase" ng-repeat="x in idFechas track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="x" ng-click="fechaRemove(x.evento)"
							style="color:red">
						</h2>
						<em>
							{{nombrarSi("Evento", x.evento)}};
							{{nombrarSi("Fecha", formatDate(x.fecha,x.precision))}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue"
							ng-click="fechaEditForEdit(x.evento,x.fecha);">
						</h2>
					</div>
				</div>

				<!-- Descriptores libres -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','descriptoresLibres');" data-toggle="modal"
						data-target="#ayudaDescriptores"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaDescriptores" tabindex="-1" role="dialog"
						aria-labelledby="ayudaDescriptoresLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseDescriptores"
						ng-click="cargaDescriptores(proyecto.descriptoresLibres)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">DESCRIPTORES LIBRES</label>
				</div>
				<div class="collapse" id="collapseDescriptores">
					<hr><label class="campo">Etiqueta</label></hr>
					<select id="descEtiquetaId" ng-model="dEtiqueta" class="form-control">
						<option ng-repeat="d in dEtiquetas track by $index" value="{{d}}">
							{{d}}
						</option>
						<option value="">-----</option>
						<tt>tipoSelect={{d}}</tt>
					</select>

					<div>
						<label class="campo">Contenido</label>
						<input id="descContenidoId" type="text" class="form-control" ng-model="dContenido"
							placeholder="">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="dDescriptorAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idDescriptores track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" ng-model="n"
							ng-click="dDescriptorRemove(n.etiqueta,n.contenido);" style="color:red">
						</h2>
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("Contenido", n.contenido)}}
						</em>

						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="descriptorEdit(n.etiqueta,n.contenido);">
						</h2>
					</div>
				</div>
				<!-- Fin descriptores libres -->

				<!-- Vínculos y archivos -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('proyecto','enlacesYArchivos');" data-toggle="modal"
						data-target="#ayudaEnlaces"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaEnlaces" tabindex="-1" role="dialog"
						aria-labelledby="ayudaEnlacesLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<button class="glyphicon glyphicon-arrow-right" data-toggle="collapse" href="#collapseEyA"
						ng-click="cargaEnlaces(proyecto.vinculoRelacionado)" role="button" aria-expanded="false"
						aria-controls="collapseExample"></button>
					<label class="campo">ENLACES Y ARCHIVOS</label>
				</div>
				<div class="collapse" id="collapseEyA">
					<div>
						<label class="campo">Nombre (descripción)</label>
						<input type="text" id="nombreEnlace" class="form-control" ng-model="eEtiqueta" placeholder="">
					</div>

					<div>
						<label class="campo">URL</label>
						<input type="text" class="form-control" id="urlEnlace"
							ng-blur="validarUrloRuta(eUrl,'urlEnlace')" ng-model="eUrl" placeholder="">
					</div>

					<div>
						<h2 class="glyphicon glyphicon-plus" ng-click="enlaceAdd();">Agregar</h2>
					</div>

					<div ng-model="todoerase" ng-repeat="n in idEnlaces track by $index" class="campo">
						<h2 class="glyphicon glyphicon-remove" style="color:red" ng-model="n"
							ng-click="enlaceRemove(n.etiqueta,n.url);">
						</h2>
						<!-- Separar para que no se mezcle con el borrado -->
						<em>
							{{nombrarSi("Etiqueta", n.etiqueta)}}
							{{nombrarSi("URL", n.url)}}
						</em>
						<!-- Agregar edición -->
						<h2 class="glyphicon glyphicon-pencil" style="color:blue" ng-model="n"
							ng-click="enlaceEdit(n.etiqueta,n.url);">
						</h2>
					</div>
				</div>
				<!-- Vínculos y archivos -->
				<div>
					<input type="submit" class="btn btn-primary btn-lg2" value="Actualizar">
					<div data-ng-show="error">
						<strong class="error" data-ng-bind="error"></strong>
					</div>
				</div>
		</section>


	</div>
	</form>
</div>