<!-- View listar proyectos-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="ProyectosController" data-ng-init="find()">
	<label class="tituloVista">PROYECTOS</label>
	<ul>
		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
								ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>
					</tr>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('nombre')">NOMBRE</button>
							<span class="sortorder" ng-show="propertyName === 'nombre'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('investigadores')">PARTICIPANTES</button>
							<span class="sortorder" ng-show="propertyName === 'investigadores'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('estado')">ESTADO</button>
							<span class="sortorder" ng-show="propertyName === 'estado'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('fechasAsociadas')">FECHAS</button>
							<span class="sortorder" ng-show="propertyName === 'fechasAsociadas'"
								ng-class="{reverse: reverse}"></span>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="proyecto in proyectos | orderBy:propertyName:reverse|filter:search">

						<!-- proyectos es el modelo-->
						<td>
							<a href="/#!/proyectos/{{proyecto._id}}"><span class="glyphicon glyphicon-sunglasses"></a>
						</td>
						<td data-ng-bind="proyecto.nombre">
						<td data-ng-bind="verInvestigadores(proyecto.investigadores)"></td>
						</td>
						<td data-ng-bind="proyecto.estado"></td>
						<td data-ng-bind="verFechas(proyecto.fechasAsociadas)"></td>


						<td data-ng-show="authentication.user._id == proyecto.creador._id">
							<a href="/#!/proyectos/{{proyecto._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>

				</tbody>
			</table>
		</div>


		</div>
	</ul>

	<div data-ng-hide="!proyectos || proyectos.length">
		<a href="/#!/proyectos/create"></a>
</section>