<!-- View actor-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="ActoresController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Actor</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="actor.fullName | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==actor.creador._id">
					<a href="/#!/actores/{{actor._id}}/edit"><span class="glyphicon glyphicon-pencil" </span></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove" </span></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">

					<tbody>
						<tr>
							<td class="campo">NOMBRES</td>
							<td data-ng-bind="actor.nombres"></td>
						</tr>

						<tr>
							<td class="campo">APELLIDOS</td>
							<td data-ng-bind="actor.apellidos"></td>
						</tr>

						<tr>
							<td class="campo">NOMBRE DE REUNIÓN</td>
							<td data-ng-bind="actor.nombreReunion"></td>
						</tr>

						<tr>
							<td class="campo">CONTENEDORES (ACTORES)</td>
							<td data-ng-bind="verContenedores(actor.contenedor)"></td>
						</tr>

						<tr>
							<td class="campo">ANOTACIONES CARTOGRÁFICO TEMPORALES</td>
							<td data-ng-bind="verAnotacion(actor.anotacionCartograficoTemporal)"></td>
						</tr>

						<tr>
							<td class="campo">DESCRIPTORES</td>
							<td data-ng-bind="verDescriptor(actor.descriptores)"></td>
						</tr>


						<tr>
							<td class="campo">VÍNCULOS RELACIONADOS</td>
							<td id="enlaces" data-ng-bind="verVinculo(actor.vinculoRelacionado)"></td>
						</tr>



					</tbody>

				</table>
			</div>
			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="actor.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="actor.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>