<!-- View crear obras -->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<div class="jumbotron">
	<div class="container">
		<section data-ng-controller="DiccionariosController" data-ng-init="findOne()">
			<label class="tituloVista">EDITAR CAMPO EN DICCIONARIO DE DATOS</label>

			<form class="form-principal" data-ng-submit="update()" novalidate>
				<!-- Mensaje de error-->
				<div data-ng-show="error">
					<strong class="error" data-ng-bind="error"></strong>
				</div>
				<!-- Tabla -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('diccionario','tabla');" data-toggle="modal"
						data-target="#ayudaTabla"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaTabla" tabindex="-1" role="dialog"
						aria-labelledby="ayudaTablaLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>TABLA</label>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="diccionario.tabla" required>
				</div>
				<!-- Campo abreviado -->

				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('diccionario','campoAbreviado');" data-toggle="modal"
						data-target="#ayudacampoAbreviado"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudacampoAbreviado" tabindex="-1" role="dialog"
						aria-labelledby="ayudacampoAbreviadoLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>CAMPO ABREVIADO</label>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="diccionario.campo" required>
				</div>
				<!-- Campo largo -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('diccionario','campoLargo');" data-toggle="modal"
						data-target="#ayudaCampoLargo"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaCampoLargo" tabindex="-1" role="dialog"
						aria-labelledby="ayudaCampoLargoLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>CAMPO LARGO</label>
				</div>
				<div>
					<input type="text" class="form-control" ng-model="diccionario.campoLargo" required>
				</div>
				<!-- Definición -->
				<div>
					<!-- Botón modal ayuda -->
					<button type="button" class="glyphicon glyphicon-eye-open"
						ng-click="mostrarAyuda('diccionario','definicion');" data-toggle="modal"
						data-target="#ayudaDefinicion"></button>

					<!-- Modal Ayuda-->
					<div class="modal fade" id="ayudaDefinicion" tabindex="-1" role="dialog"
						aria-labelledby="ayudaDefinicionLabel" aria-hidden="true">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title" id="Ayuda">{{campoLargo}}</h5>
								</div>
								<div class="modal-body">
									{{campo}}
								</div>
								<div class="modal-footer">
									<button type="button" class="btn btn-primary" data-dismiss="modal">Cerrar</button>
								</div>
							</div>
						</div>
					</div>
					<label>DEFINICIÓN</label>
				</div>
				<div>
					<textarea type="text" class="form-control-big" ng-model="diccionario.definicion"
						required></textarea>
				</div>

				<div>
					<input type="submit" class="btn btn-primary pull-right" value="Actualizar">
					<div data-ng-show="error">
						<strong class="error" data-ng-bind="error"></strong>
					</div>
				</div>
			</form>
	</div>