<!-- View listar ejemplars-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="DiccionariosController" class="bodyList" data-ng-init="find()">
	<label class="tituloVista">DICCIONARIO DE DATOS</label>
	<ul>

		<div class="wrapper">
			<table class="table table-striped">
				<thead>
					<tr>
						<th> <span class="glyphicon glyphicon-filter"> </span> <input type="text" class="campoList"
								ng-model="search">
							<!-- <button ng-click="propertyName = null; reverse = false">NO ORDENAR</button> -->
						</th>
					</tr>
				</thead>
			</table>
			<!-- Table -->
			<table class="table table-striped">
				<thead>
					<tr>
						<th>
							<!-- Columna sin título -->
						</th>
						<th>
							<button class="btn-lg3" ng-click="sortBy('tabla')">TABLA</button>
							<span class="sortorder" ng-show="propertyName === 'tabla'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('campo')">CAMPO ABREVIADO</button>
							<span class="sortorder" ng-show="propertyName === 'campo'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('campoLargo')">CAMPO</button>
							<span class="sortorder" ng-show="propertyName === 'campoLargo'"
								ng-class="{reverse: reverse}"></span>
						</th>

						<th>
							<button class="btn-lg3" ng-click="sortBy('definicion')">DEFINICIÓN</button>
							<span class="sortorder" ng-show="propertyName === 'definicion'"
								ng-class="{reverse: reverse}"></span>
						</th>
					</tr>
				</thead>

				<tbody>
					<tr data-ng-repeat="diccionario in diccionarios | orderBy:propertyName:reverse |filter:search">

						<!-- diccionario es el modelo-->
						<td>
							<a href="/#!/diccionarios/{{diccionario._id}}"><span
									class="glyphicon glyphicon-sunglasses"></a>
						</td>
						<td data-ng-bind="diccionario.tabla"></td>
						<td data-ng-bind="diccionario.campo"></td>
						<td data-ng-bind="diccionario.campoLargo"></td>
						<td data-ng-bind="diccionario.definicion"></td>
						<td data-ng-show="authentication.user._id == diccionario.creador._id">
							<a href="/#!/diccionarios/{{diccionario._id}}/edit"><span
									class="glyphicon glyphicon-pencil"></a>
						</td>
					</tr>
				</tbody>
			</table>
		</div>


		</div>
	</ul>

	<div data-ng-hide="!idiomas || idiomas.length">
		<a href="/#!/idiomas/create"></a>
</section>