<!-- View Diccionario-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="DiccionariosController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Campo de diccionario</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="diccionario.campoLargo | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==diccionario.creador._id">
					<a href="/#!/diccionarios/{{diccionario._id}}/edit"><span class="glyphicon glyphicon-pencil"></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">
					<tbody>
						<tr>
							<td class="campo">Tabla</td>
							<td data-ng-bind="diccionario.tabla"></td>
						</tr>
					</tbody>

					<tbody>
						<tr>
							<td class="campo">Campo abreviado</td>
							<td data-ng-bind="diccionario.campo"></td>
						</tr>
					</tbody>

					<tbody>
						<tr>
							<td class="campo">Definición</td>
							<td data-ng-bind="diccionario.definicion"></td>
						</tr>
					</tbody>
				</table>

			</div>

			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="diccionario.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="diccionario.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>