<!DOCTYPE html>
<html>
  <head>
    <!-- Recordar que debe quitarse el auto formato al editar este archivo -->
    <meta charset="utf-8" />
    <title><%=title%></title>
    <link rel="stylesheet" href="/lib/bootstrap-css/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/styles.css" />
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="funcionesGenerales.js"></script>
    <script src="listas.js"></script>
    <link rel="shorcut icon" href="img/favicon.png" />
  </head>
  <body>
    <!--Si un usuario es autentificado, mostrar su nombre completo, sino mostrar enlaces-->

    <section ng-view></section>
    <script type="text/javascript">
      window.user = <%- user || 'null' %>;
    </script>

    <script type="text/javascript">
    src="/lib/requirejs/bin/r.js"
    </script>
    
    </script>
    <script src="/lib/jquery/dist/jquery.min.js"></script>
    <script src="/lib/bootstrap-css/js/bootstrap.min.js"></script>

    <script type="text/javascript" src="/lib/angular/angular.js"></script>
    <script
      type="text/javascript"
      src="/lib/angular-route/angular-route.js"
    ></script>
    <script
      type="text/javascript"
      src="/lib/angular-resource/angular-resource.js"
    ></script>

    <script type="text/javascript" src="/obras/obras.client.module.js"></script>
    <script
      type="text/javascript"
      src="/obras/controllers/obras.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/obras/services/obras.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/obras/config/obras.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/recursos/recursos.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/recursos/controllers/recursos.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/recursos/services/recursos.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/recursos/config/recursos.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/generos/generos.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/generos/controllers/generos.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/generos/services/generos.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/generos/config/generos.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/generosnomusicales/generosnomusicales.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/generosnomusicales/controllers/generosnomusicales.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/generosnomusicales/services/generosnomusicales.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/generosnomusicales/config/generosnomusicales.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/proyectos/proyectos.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/proyectos/controllers/proyectos.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/proyectos/services/proyectos.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/proyectos/config/proyectos.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/fondos/fondos.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/fondos/controllers/fondos.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/fondos/services/fondos.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/fondos/config/fondos.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/colecciones/colecciones.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/colecciones/controllers/colecciones.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/colecciones/services/colecciones.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/colecciones/config/colecciones.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/medios/medios.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/medios/controllers/medios.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/medios/services/medios.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/medios/config/medios.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/instrumentos/instrumentos.client.module.js"
    ></script>

    <script
      type="text/javascript"
      src="/instrumentos/controllers/instrumentos.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/instrumentos/services/instrumentos.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/instrumentos/config/instrumentos.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/sistemas/sistemas.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/sistemas/controllers/sistemas.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/sistemas/services/sistemas.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/sistemas/config/sistemas.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/materias/materias.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/materias/controllers/materias.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/materias/services/materias.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/materias/config/materias.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/ejemplares/ejemplares.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/ejemplares/controllers/ejemplares.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/ejemplares/services/ejemplares.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/ejemplares/config/ejemplares.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/actores/actores.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/actores/controllers/actores.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/actores/services/actores.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/actores/config/actores.client.routes.js"
    ></script>

    <script
      type="text/javascript"
      src="/example/example.client.module.js"
    ></script>
    <script
      type="text/javascript"
      src="/example/controllers/example.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/example/config/example.client.routes.js"
    ></script>

    <!-- Listas auxiliares -->
    <!-- Idiomas -->
    <script type="text/javascript" src="idiomas/idiomas.client.module.js"></script>
    <script
      type="text/javascript"
      src="/idiomas/controllers/idiomas.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/idiomas/services/idiomas.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/idiomas/config/idiomas.client.routes.js"
    ></script>

    <!-- Diccionarios -->
    <script type="text/javascript" 
    src="diccionarios/diccionarios.client.module.js"></script>
    <script
      type="text/javascript"
      src="/diccionarios/controllers/diccionarios.client.controller.js"
    ></script>
    <script
      type="text/javascript"
      src="/diccionarios/services/diccionarios.client.service.js"
    ></script>
    <script
      type="text/javascript"
      src="/diccionarios/config/diccionarios.client.routes.js"
    ></script> 

    
<!-- Usuarios -->
    <script type="text/javascript" src="/users.client.module.js"></script>
    <script
      type="text/javascript"
      src="/users/services/authentication.client.service.js"
    ></script>

    <script type="text/javascript" src="/application.js"></script>
 
  </body>
</html>