<!DOCTYPE html>
<html>
<head>
	<!--Usar la propiedad 'title para renderizar el título de página'-->
	<title>
	<%=title%>
	</title>
	<link rel="stylesheet" type="text/css" href="styles.css">
	<link rel="stylesheet" href="/lib/bootstrap-css/css/bootstrap.min.css">
</head>

<body>
<!--Mostrar mensajes flash-->
<%for(var i in messages){%>
<div class="flash"><%=messages[i]%></div>
<%}%>
<!-- Renderizar el formulario sign in-->
<div class="container">
	<div><img src="img/logomr.png" alt="Logo"> </div>
<form class="form-login" action="/signin"method="post">
	<label>Usuario:</label>
	<input type="text"  class="form-control " name="username"/>
	<label>Contraseña:</label>
	<input type="password"class="form-control" name="password"/>
    <input type="submit" class="btn btn-primary pull-right" value="Identificarse"></a>
</form>
	<!--<a href="/oauth/google">Registrarse usando Google</a>-->
	<p></p><a href="/signup"> Registrarse</a>
	<a href="/">Regresar</a>
</div> <!--div containter-->
</body>
</html>

