<!-- View fondo-->
<ng-include src="'example/views/example.client.view.html'" /></ng-include>
<section data-ng-controller="FondosController" data-ng-init="findOne()">
	<div class="jumbotron">
		<div class="wrapper2">
			<!-- Identificador de la vista -->
			<div class="idVista">
				<em>Fondo</em>
			</div>
			<div class="panel panel-default">
				<!-- Default panel contents -->
				<div class="tituloVistaView" data-ng-bind="fondo.nombre | uppercase"></div>
				<!-- Mostrar los botones de edición para el creador del artículo-->
				<div data-ng-show="authentication.user._id==fondo.creador._id">
					<a href="/#!/fondos/{{fondo._id}}/edit"><span class="glyphicon glyphicon-pencil"></a></a>
					<a href="#" data-ng-click="delete();"><span class="glyphicon glyphicon-remove"></a>
				</div>

				<!-- Table -->
				<table class="table table-striped text-left">

					<tbody>
						<tr>
							<td class="campo">NOMBRE</td>
							<td data-ng-bind="fondo.nombre"></td>
						</tr>

						<tr>
							<td class="campo">TIPO DE FONDO</td>
							<td ng-bind="fondo.tipo;"></td>
						</tr>

						<tr>
							<td class="campo">PROPIEDAD/COMODATO</td>
							<td data-ng-bind="fondo.propiedadComodato"></td>
						</tr>

						<tr>
							<td class="campo">FECHA DE CREACIÓN</td>
							<td data-ng-bind="formatDate(fondo.fechaDeCreacion,fondo.precision)"></td>
						</tr>
					</tbody>
				</table>
			</div>

			<div class="creador">
				<em>Creada en </em>
				<em data-ng-bind="fondo.creado |date:'mediumDate'"></em>
				<em>por</em>
				<em data-ng-bind="fondo.creador.fullName"></em>
			</div>
		</div>
	</div>
</section>